.container_titulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.titulo {
    text-align: center;
    margin-top: 1em;
}

.texto {
    display: flex;
    justify-content: center;
    background-color: rgb(38, 156, 84);
    padding: 0.3em;
    border-radius: 0.5em;
    margin: 1%;
}

.container{
    height: 400px;
    border: 0.2em black solid;
    margin: 0.5em;
}