*{
    margin: 0;
}

.navbar{
    justify-content: space-between;
    padding: 1em;
    display: flex;
    background-color: rgb(125, 83, 150);
}

.list {
    list-style: none;
    display: flex;
}

.list li {
    padding: 1em;
}

.item {
    margin-right: 1em;
}

.item a {
    text-decoration: none;
    color: black;
}

.item a:hover {
    color: rgb(162, 170, 170);
}