*{
    margin: 0;
    padding: 0;
}

.navbar{
    justify-content: space-between;
    padding: 1em;
    display: flex;
    background-color: #1E5128;
}

.list {
    list-style: none;
    display: flex;
    
}

.list li {
    padding: 1em;
}

.item {
    margin: 0.2em;
    background-color: #4E9F3D;
    border-radius: 1em;
}


.item a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1em;
}

.item a:hover {
    color: #1C2321;
    
}

