.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    background-color: #4E9F3D;
    padding: 0.2em;
    border-radius: .5em;
    width: 20em; 
}

.card h1{
    display: flex;
    justify-content: center;
    color: black;
}

.card h1,h3{
    color: #F1F0EF;
}




@media (max-width: 700px){
    .card{
        font-size: .9em;
    }

    
}