.container_cards {
    display: flex;
    flex-wrap: wrap;
}


.card {
    background-color: rgb(38, 156, 84);
    border-radius: 1em;
    padding: 1em;
    border: solid black 0.1em;
    margin: 1em;
}