.box{
    padding: 1em;
    background-color: #D8E9A8;
    border-radius: .5em;
    flex-direction: column;
    display: flex;
    

}

.box svg{
    fill: black;
}

.box p{
    color: #191A19;
    margin-bottom: .5em;
}